<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SpotterMobile"
        android:supportsRtl="true">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Module 1: Authentication -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />

        <!-- Module 2: Booking -->
        <activity android:name=".DashboardActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".BookingHistoryActivity" />

        <!-- Module 3: Fitness -->
        <activity android:name=".BMIActivity" />
        <activity android:name=".WorkoutListActivity" />
        <activity android:name=".WorkoutDetailActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".WebViewActivity" />

    </application>
</manifest>